Makefile.in
Makefile
aclocal.m4
configure
config.h.in
config.h
config.log
config.cache
config.status
install-sh
missing
mkinstalldirs
stamp-h.in
stamp-h
autom4te.cache
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/*.ex
debian/ic35link
debian/.debhelper
